---
- name: Import chaotic-aur key
  become: true
  ansible.builtin.command:
    cmd: pacman-key --recv-key {{ base_chaotic_aur_key }} --keyserver keyserver.ubuntu.com
  register: base_chaotic_key_recv
  changed_when: "'imported' in base_chaotic_key_recv.stderr"

- name: Sign chaotic-aur key
  become: true
  ansible.builtin.command:
    cmd: pacman-key --lsign-key {{ base_chaotic_aur_key }}
  changed_when: false

- name: Install chaotic-aur keyring and mirrorlist
  become: true
  community.general.pacman:
    name:
      - "https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst"
      - "https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst"
    state: present

- name: Add chaotic-aur repo to pacman.conf
  become: true
  ansible.builtin.blockinfile:
    path: /etc/pacman.conf
    marker: "# {mark} CHAOTIC-AUR"
    block: |
      [chaotic-aur]
      Include = /etc/pacman.d/chaotic-mirrorlist
  notify: Update pacman cache

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
