---
# Base system configuration

- name: Configure primary user
  ansible.builtin.import_tasks: user.yml

- name: Configure security settings
  ansible.builtin.import_tasks: security.yml

- name: Configure Chaotic-AUR repository
  ansible.builtin.import_tasks: chaotic_aur.yml

- name: Install base package groups
  ansible.builtin.import_tasks: packages.yml

- name: Configure paru passwordless sudo
  ansible.builtin.import_tasks: paru_sudo.yml

- name: Configure base sysctl settings
  ansible.builtin.import_tasks: sysctl.yml

- name: Configure firmware update tooling
  ansible.builtin.import_tasks: fwupd.yml

- name: Configure tuned services
  ansible.builtin.import_tasks: tuned.yml
