---
- name: Configure YAMA ptrace scope (e.g. 1Password needs this)
  become: true
  ansible.posix.sysctl:
    name: kernel.yama.ptrace_scope
    value: "1"
    state: present
    sysctl_file: /etc/sysctl.d/90-yama.conf
    reload: true
