---
# Hyprland window manager and Wayland ecosystem

- name: Hyprland installation
  when: hyprland_state == 'present'
  block:
    - name: Install shared Wayland packages
      become: true
      community.general.pacman:
        name: "{{ wayland_common_packages }}"
        state: present

    - name: Install Hyprland core components
      become: true
      community.general.pacman:
        name: "{{ hyprland_core_packages }}"
        state: present

    - name: Install Hyprland AUR components
      become: true
      become_user: "{{ primary_user }}"
      environment:
        HOME: "{{ primary_user_home }}"
      ansible.builtin.command:
        cmd: paru -S --noconfirm --needed {{ hyprland_aur_packages | join(' ') }}
      register: hyprland_paru_result
      changed_when: "'there is nothing to do' not in hyprland_paru_result.stdout"

- name: Hyprland removal
  when: hyprland_state == 'absent'
  block:
    - name: Remove Hyprland AUR components
      become: true
      become_user: "{{ primary_user }}"
      environment:
        HOME: "{{ primary_user_home }}"
      ansible.builtin.command:
        cmd: paru -Rns --noconfirm {{ hyprland_aur_packages | join(' ') }}
      register: hyprland_paru_remove
      changed_when: hyprland_paru_remove.rc == 0
      failed_when: false

    - name: Remove Hyprland core components
      become: true
      community.general.pacman:
        name: "{{ hyprland_core_packages }}"
        state: absent
