---
- name: Configure Docker
  become: true
  when: virtualization_docker_state == 'present'
  block:
    - name: Install Docker container runtime and tooling
      community.general.pacman:
        name:
          - docker
          - docker-compose
        state: present

    - name: Add users to docker group
      ansible.builtin.user:
        name: "{{ item }}"
        groups: docker
        append: true
      loop: "{{ virtualization_docker_users }}"
      when: virtualization_docker_users | length > 0

    - name: Enable and start Docker service
      ansible.builtin.systemd_service:
        name: docker.service
        enabled: true
        state: started

- name: Ensure docker group exists
  become: true
  ansible.builtin.group:
    name: docker
    state: "{{ virtualization_docker_state }}"

- name: Remove Docker
  become: true
  when: virtualization_docker_state == 'absent'
  block:
    - name: Remove Docker packages
      community.general.pacman:
        name:
          - docker
          - docker-compose
        state: absent
