---
- name: Configure libvirt
  become: true
  when: virtualization_libvirt_state == 'present'
  block:
    - name: Install libvirt/QEMU packages
      community.general.pacman:
        name: "{{ virtualization_libvirt_packages }}"
        state: present

    - name: Add users to libvirt group
      ansible.builtin.user:
        name: "{{ item }}"
        groups: libvirt
        append: true
      loop: "{{ virtualization_libvirt_users }}"
      when: virtualization_libvirt_users | length > 0

    - name: Enable and start libvirt sockets
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        enabled: true
        state: started
      loop:
        - libvirtd.socket
        - virtlogd.socket

    - name: Create libvirt storage pool directory
      ansible.builtin.file:
        path: "{{ virtualization_libvirt_storage_pool_path }}"
        state: directory
        mode: "0711"
        owner: root
        group: root
      when: virtualization_libvirt_storage_pool_enabled

    - name: Define and activate default storage pool
      community.libvirt.virt_pool:
        name: default
        state: active
        autostart: true
        xml: |
          <pool type='dir'>
            <name>default</name>
            <target>
              <path>{{ virtualization_libvirt_storage_pool_path }}</path>
            </target>
          </pool>
      when: virtualization_libvirt_storage_pool_enabled

- name: Ensure libvirt group exists
  become: true
  ansible.builtin.group:
    name: libvirt
    state: "{{ virtualization_libvirt_state }}"

- name: Stop libvirt sockets
  become: true
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  loop:
    - libvirtd.socket
    - virtlogd.socket
  when: virtualization_libvirt_state == 'absent'

- name: Remove libvirt
  become: true
  when: virtualization_libvirt_state == 'absent'
  block:
    - name: Remove libvirt packages
      community.general.pacman:
        name: "{{ virtualization_libvirt_packages }}"
        state: absent
