---
- name: Install common virtualization packages
  become: true
  community.general.pacman:
    name: "{{ virtualization_common_packages }}"
    state: present
  when: >
    virtualization_incus_state == 'present' or
    virtualization_libvirt_state == 'present'

- name: Include Incus tasks
  ansible.builtin.include_tasks: incus.yml

- name: Include Docker tasks
  ansible.builtin.include_tasks: docker.yml

- name: Include libvirt tasks
  ansible.builtin.include_tasks: libvirt.yml
